h1 {
    text-align: center;
}

body {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(138, 207, 207);
    height: 80vh;
    width: 50%;


}

#resultado {
    text-align: center;
}